<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Ensure system.webServer exists -->
	<system.webServer xdt:Transform="InsertIfMissing">
		<rewrite>
			<rules>
				<rule name="Alias root stylesheets to API" stopProcessing="true">
					<match url="^stylesheets/(.*)" />
					<action type="Rewrite" url="api/stylesheets/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>