@using MedRecPro.Models
@using RazorLight.Razor
@using MedRecPro.Helpers
@inherits RazorLight.TemplatePage<MedRecPro.Models.TextTableDto>
@model TextTableDto
@if (Model != null)
{
    <table width="@Model.Width">
        @if (Model.HasHeader == true && Model.TextTableRows.Any(r => r.RowGroupType == "Header"))
        {
            <thead>
                @foreach (var row in Model.TextTableRows.Where(r => r.RowGroupType == "Header")
                        .OrderBy(r => r.SequenceNumber))
                {
                    await IncludeAsync("_TableRow", row);
                }
            </thead>
        }
        @if (Model.TextTableRows.Any(r => r.RowGroupType == "Body"))
        {
            <tbody>
                @foreach (var row in Model.TextTableRows.Where(r => r.RowGroupType == "Body")
                        .OrderBy(r => r.SequenceNumber))
                {
                    await IncludeAsync("_TableRow", row);
                }
            </tbody>
        }
        @if (Model.HasFooter == true && Model.TextTableRows.Any(r => r.RowGroupType == "Footer"))
        {
            <tfoot>
                @foreach (var row in Model.TextTableRows.Where(r => r.RowGroupType == "Footer")
                        .OrderBy(r => r.SequenceNumber))
                {
                    await IncludeAsync("_TableRow", row);
                }
            </tfoot>
        }
    </table>
}